body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #a7c957;
}

/* Selector de clase */
.class_selector{
    font-size: 45px;
    color: #b688c8;
    font-weight: bold;
}

/* Selector de ID */
#id_selector{
    font-size: 35px;
    color: #272727;
    font-style: italic;
}