* {
    font-family: Arial, sans-serif;
    margin: 20px;
}

body {
    line-height: 1.6;
    background-color: #a7c957;
}

/* Selector de clase */
.class_selector{
    font-size: 45px;
    color: #b688c8;
    font-weight: bold;
}

/* Selector de ID */
#id_selector{
    font-size: 35px;
    color: #272727;
    font-style: italic;
}

/* combinación de selectores */
#selectores_universal_combinaciones{
    font-size: 25px;
    color: #386641;
}

#selectores_universal_combinaciones p{
    color: #af3131;
    font-size: 23px;
}

#selectores_universal_combinaciones ul li strong{
    color: #0693ba;
    font-size: 10px;
}

/* Si tiene una coma no es una combinación de selectores, es un selector múltiple */
p, li{
    color: #272727;
    font-size: 20px;
}

.display_block{
    margin: 10px 0 10px 0;
    display: block;
    background-color: #0693ba;
}

.display_inline{
    margin: 25px 0 25px 0;
    display: inline;
    background-color: #272727;
    color: aliceblue;
}

.display_inline_block{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: #af3131;
}

.display_inline_block_2{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: #d3dc24;
}

.pseudo_hover{
    background-color: green;
    color: #ffffff;
    border-radius: 15px;
    border: 2px solid #a7c957;
    font-size: 20px;
    padding: 25px 10px 25px 10px;
}

.pseudo_hover:hover{
    background-color: #a7c957;
    color: #386641;
    border: 2px solid #386641;
    font-size: 20px;
}

.pseudo_focus{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #384066;
}

.pseudo_focus:focus{
    background-color: #d3dc24;
    border: 2px solid #386647;
}

.pseudo_active{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #663838;
    background-color: rgba(184, 48, 48, 0.5);
}

.pseudo_active:active{
    background-color: #af3131;
    border: 2px solid #272727;
}

/* Propiedades basicas de texto 
p{
    text-align: justify; /* se alinea el texto dependiendo de el valor que se le asigne 
    text-decoration: underline; /* subraya el texto, también puede ser line-through para tachar el texto o overline para poner una línea encima del texto 
    text-transform: uppercase; /* transforma el texto dependiendo del valor que se le asigne, puede ser lowercase para poner todo el texto en minúscula o capitalize para poner la primera letra de cada palabra en mayúscula
    letter-spacing: 2px; /* a g r e g a  espacio entre cada letra, el valor se puede asignar en px, em, rem, etc. 
    word-spacing: 10px; /* agrega   espacio   entre   cada palabra, el valor se puede asignar en px, em, rem, etc. 
}
*/
/* Propiedades basicas de fuente */
h2{
    font-family: 'Courier New', Courier, monospace; /* cambia la fuente del texto, se pueden asignar varias fuentes, si la primera no está disponible se usará la siguiente */
    font-size: 40px; /* cambia el tamaño de la fuente, el valor se puede asignar en px, em, rem, etc. */
    font-weight: bold; /* cambia el grosor de la fuente, el valor puede ser normal, bold, bolder, lighter o un número del 100 al 900 */
    font-style: italic; /* cambia el estilo de la fuente, el valor puede ser normal, italic o oblique */
}

/* Propiedades basicas de color */
div{
    color: #272727; /* cambia el color del texto, el valor se puede asignar en hexadecimal, rgb, rgba, hsl, hsla, etc. */
    background-color: #a7c957; /* cambia el color de fondo del elemento, el valor se puede asignar en hexadecimal, rgb, rgba, hsl, hsla, etc. */
}

h1{
    text-align: center;
    font-weight: bold;
    color: #386641;
}

.card_image{
    width: 50%; /* cambia el ancho de la imagen, el valor se puede asignar en px, em, rem, etc. */
    border-radius: 15px; /* redondea las esquinas de la imagen, el valor se puede asignar en px, em, rem, etc. */
}

/* las unidades de medida son: 
px (píxeles), 
em (relativo al tamaño de la fuente del elemento), 
rem (relativo al tamaño de la fuente raíz),
% (porcentaje del tamaño del elemento padre),
vw (viewport width, porcentaje del ancho de la ventana), 
vh (viewport height, porcentaje de la altura de la ventana) */

.card{
    /* Posicionamiento */
    /* position: static; el elemento se posiciona de forma normal en el flujo del documento, este es el valor por defecto */
    /* position: relative; el elemento se posiciona de forma relativa a su posición normal, 
    se pueden usar las propiedades top, right, bottom y left para mover el elemento desde su posición normal */
    position: relative;
    top: 10px;

    width: 600px;
    background-color: #eeeee9;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;
    /* margenes que ocupan una linea de codigo */
    /*margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 45px;
    margin-right: 60px;*/
    /* margenes todo en una sola linea de codigo */
    /* margin: 15px 30px 45px 60px;  margin: top right bottom left los valores se asignan como manecilla de reloj */
    /* margin: 30px 60px; margen en la parte ariba y abajo de 30px y en la parte izquierda y derecha de 60px */
    padding: 15px;
    /* al igual que los margenes, el padding se puede asignar en una sola linea de codigo */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* agrega una sombra al elemento, 
    el valor se asigna en px para el desplazamiento horizontal y vertical, 
    el desenfoque y el color de la sombra */
}

.card-body{
    padding: 15px;
}

.card-body h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    color: #272727 !important;
    text-align: center;
}

.card-body p{
    text-align: justify ; /* el valor important hace que esta propiedad tenga prioridad sobre cualquier otra propiedad que se le asigne al mismo elemento */
    font-size: 20px ;
    color: #272727 ;
}   

.letras-libreta-rayada{
    font-family: 'Betania Patmos GDL', cursive !important;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.whatsapp_image{
    width: 25px;
    cursor: pointer;
}
/* ejemplo de whatsapp_image sticky */
/* sticky es una mezcla entre relative y fixed, y como su nombre lo indica, 
el elemento se pega a su posición original hasta que se alcanza un punto específico en la página,
 y luego se comporta como fixed */
/* .whatsapp{
    position: sticky;
    bottom: 20px;
    right: 20px;
} */