* {
    font-family: Arial, sans-serif;
    margin: 20px;
}

body {
    line-height: 1.6;
    background-color: #a7c957;
}

/* Selector de clase */
.class_selector{
    font-size: 45px;
    color: #b688c8;
    font-weight: bold;
}

/* Selector de ID */
#id_selector{
    font-size: 35px;
    color: #272727;
    font-style: italic;
}

/* combinación de selectores */
#selectores_universal_combinaciones{
    font-size: 25px;
    color: #386641;
}

#selectores_universal_combinaciones p{
    color: #af3131;
    font-size: 23px;
}

#selectores_universal_combinaciones ul li strong{
    color: #0693ba;
    font-size: 10px;
}

/* Si tiene una coma no es una combinación de selectores, es un selector múltiple */
p, li{
    color: #272727;
    font-size: 20px;
}

.display_block{
    margin: 10px 0 10px 0;
    display: block;
    background-color: #0693ba;
}

.display_inline{
    margin: 25px 0 25px 0;
    display: inline;
    background-color: #272727;
    color: aliceblue;
}

.display_inline_block{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: #af3131;
}

.display_inline_block_2{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: #d3dc24;
}

.pseudo_hover{
    background-color: green;
    color: #ffffff;
    border-radius: 15px;
    border: 2px solid #a7c957;
    font-size: 20px;
    padding: 25px 10px 25px 10px;
}

.pseudo_hover:hover{
    background-color: #a7c957;
    color: #386641;
    border: 2px solid #386641;
    font-size: 20px;
}

.pseudo_focus{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #384066;
}

.pseudo_focus:focus{
    background-color: #d3dc24;
    border: 2px solid #386647;
}

.pseudo_active{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #663838;
    background-color: rgba(184, 48, 48, 0.5);
}

.pseudo_active:active{
    background-color: #af3131;
    border: 2px solid #272727;
}